body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #c56c30;
}

header h2 {
    color: black;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #ecd60d, #c56c30, #d80707);
    color: red;
}

.row-content {
    padding: 50px;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-image: linear-gradient(to left, #ecd60d, #c56c30, #d80707);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #eb1b1b;
}